[package]
name = "flaregun"
version = "0.1.0"
edition = "2021"

[lib]
name = "flaregun"
path = "src/lib.rs"

[[bin]]
name = "fg"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.16", features = ["derive"] }
env_logger = "0.11.3"
futures = "0.3.30"
libbpf-rs = "0.23"
libc = "0.2.155"
log = "0.4.21"
plain = "0.2.3"
psutil = "3.3.0"
rlimit = "0.10.1"
structopt = "0.3.26"
tokio = { version = "1.39.3", features = ["macros", "rt", "time", "fs", "io-std", "io-util"] }

[features]
default = ["ev-array"]
ev-ringbuf = []
ev-array = []

# Linking statically appears to be broken,
# so we'll use the dynamic library for now.
# libbpf-rs.version = "0.22.1"
# libbpf-rs.features = ["static"]

[build-dependencies]
libbpf-cargo = "0.23"
build-bpf = "0"
